@import "tailwindcss";

@keyframes pop-in {
  0% {
    transform: scale(2.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes flash-white {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.85;
  }
}
